body{
	
	background-color:#cfd8ff;
	font-family: Arial, Helvetica, sans-serif;
	margin:10px;	
}

#container{
	width:350px;;
	padding: 0 20px 0 20px;
	
}

.systemNavPoint{
	background-color:#b0bfff;
	width:auto;
	padding:10px;
	border-style: solid;
	border-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom:10px;
}

.systemData{
	background-color:#b0bfff;
	width:auto;
	padding:10px;
	border-style: solid;
	border-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom:10px;
}

